<div class="detail-container">
  <img src="{{ product.url }}" width="200px" height="200px" />
  <div class="detail-item">
  <br>
  <div>{{ product.name }}</div>
  <div>${{ product.price }}</div>
  <div>{{ product.description }}</div>
  <br>
  <form #form="ngForm" (ngSubmit)="submitForm()">
    <input class="select-input" required type="text" name="quant" id="quant" placeholder="Enter Quantity" [ngModel]="quant"  (ngModelChange)="quant = $event">
    <br>
    <input type="submit" [disabled]="form.invalid" value="Add to cart">
  </form>
  </div>
  <br>
  <div class="back-link">
    <a routerLink="/"><button>Back to Product List</button></a>
  </div>
</div>
